# Dependencies
node_modules/

# Build
dist/
storybook-static/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Playwright
test-results/
playwright-report/

# IDEs
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Cache
.cache/
.turbo/
.eslintcache